{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Вход</h1>
    <form method="post" novalidate>
    {% csrf_token %}

    {# Ошибка "Неверный логин или пароль!" будет показана здесь #}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    {# Рендерим поле Логин #}
    <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="alert alert-danger mt-2">{{ error }}</div>
        {% endfor %}
    </div>

    {# Рендерим поле Пароль #}
    <div class="mb-3">
        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger mt-2">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="{% url 'signup' %}" class="ms-2">Создать новый аккаунт</a>
    </form>
{% endblock %}
