<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Ask Pupkin</a>
        <div class="collapse navbar-collapse">
            <form class="d-flex w-75 mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Найти вопрос..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Найти</button>
            </form>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Настройки профиля</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ms-2">
                        <img src="https://placehold.co/40" class="rounded-circle" width="40" height="40">
                    </li>

                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>